@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: initial;
}

.container {
	width: 100%;
    font-size: 3rem;
    height: 100%;
}

	.container .top {
		background-color: #00BFA5;
		width: 100%;
		height: 150px;
		color: #fff;
		font-size: 3.5rem;
		-moz-box-sizing: border-box; 
    	-webkit-box-sizing: border-box; 
    	box-sizing: border-box; 
    	line-height: 150px;
    	position: fixed;
	}

	.container .cardFeed {
		width: 100%;
		background-color: #ececec;
		min-height: 100%;
		padding-top: 170px;
	}

	.container .cardFeed hr {
		width: 90%;
		opacity: 0.8;
	}

	.container .cardFeed .card {
		width: 90%;
		background-color: #fff;
		text-align: left;
		border-radius: 5px;
		padding: 10px;
		min-height: 180px;
		top: 50%;
		margin-bottom: 25px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.container .cardFeed .card p {
		margin-top: 20px;
		font-size: 2.36rem;
	}

	.container .cardFeed .card .cirq {
		height: 140px;
		background-color: #00E676;
		float: left;
		width: 140px;
		border-radius: 100%;
		margin-right: 40px;
		margin-left: 20px;
		text-align: center;
		color: #fff;
		font-size: 100px;
		line-height: 140px;
		margin-top: 20;
	}

	.container .cardFeed .card .cirq.solei {
		background-color: #E53935;
	}
	
	.container .cardFeed .card.iFrame iFrame {
		width: 100%;
		height: 50%;
	}
	
	.container .cardFeed .card.single {
		text-align: center;
		min-height: 100px;
		line-height: 100px;
	}
	
	.container .logo {
		height: 320px;
	    /* width: 500px; */
	    background-repeat: no-repeat;
	    background-image: url(logo.png);
	    background-size: contain;
	    background-position: center;
	}
	
	.container .cardFeed .card input[type='text'] {
		width: 90%;
		font-size: 3rem;
		background-color: initial;
		border: none;
	}
	
	.container .cardFeed .card input[type='submit'] {
		width: 90%;
		font-size: 3rem;
		background-color: #8E24AA;
		color: #fff;
		padding: 15px;
	}
	


